<div class="container-game-rules d-flex justify-content-center align-items-start flex-column p-5">
    
    <h1 class="display-4">Prezentare generală</h1>
    <p class="lead">Jocul "Memorează" este un antrenor al minții și concentrării, 
        presupune găsirea a două perechi de carduri dintr-o serie de cărți, 
        în funcție de modul de joc selectat.
    </p>

    <h1 class="display-4">Moduri de joc</h1>
    <h3 class="mb-3">Modul clasic</h3>
    <p>Modul clasic presupune ghicirea tuturor 
        perechilor de cărți dintr-un număr de cărți stabilit</p>

    <h3 class="mb-3">Modul shift</h3>
    <p>Modul shift presupune ghicirea tuturor perechilor de cărți, 
        doar că la fiecare ghicire a unei perechi cărțile își 
        schimbă poziția și pentru scurt timp se poate vedea poziționarea imaginilor.</p>

    <h3 class="mb-3">Modul nivel</h3>
    <p>Modul nivel presupune ghicirea tuturor perechilor de cărți, 
        doar că numărul acestora va crește pe fiecare nivel în funcție de 
        numărul total de imagini din categoria selectată. 
        Acest mod are un timp variabil care crește de la un nivel la altul.</p>

</div>



