<header
  class="container-fluid text-center d-flex justify-content-center align-items-center flex-column"
>
  <div class="image3d-container">
    <img src="../../assets/backOfCardsPattern.jpeg" alt="Back Of Cards" />
    <img src="../../assets/animals/cat.webp" alt="Back Of Cards" />
    <img src="../../assets/backOfCardsPattern.jpeg" alt="Back Of Cards" />
    <img src="../../assets/flowers/peony.jpeg" alt="Back Of Cards" />
    <img src="../../assets/backOfCardsPattern.jpeg" alt="Back Of Cards" />
    <img src="../../assets/backOfCardsPattern.jpeg" alt="Back Of Cards" />
  </div>

  <div class="text">
    <p class="display-3">Memorează</p>
    <p class="display-6">Un joc creat în Angular.</p>
    <button routerLink="/menu" routerLinkActive="active" class="display-6 m-4">
      Joacă acum!
    </button>
  </div>
</header>

<router-outlet></router-outlet>
